body{
  font-family: 'Times New Roman', Times, serif;
}
.nav1 a,
.nav2 a,
.adressdetails a,
.community a {
  color: #ffff;
  text-decoration: none;
}
.contactus {
  padding-top: 20px;
}
.map {
  padding-top: 20px;
}
.nav2 {
  display: none;
}
.contactdetails {
  /* text-align: center; */
  font-weight: bold;
}
.navhead {
  border-bottom: 5px solid #ffc107;
}
.nav2 {
  display: none;
}
h3 {
  text-align: center;
}
.nav1 a:hover,
.nav2 a:hover {
  background-color: #ffc107;
  color: rgba(0, 0, 0, 0.911);
  text-decoration: none;
}
@media (max-width: 893px) {
  .nav1 {
    display: none;
  }
  .nav2 {
    display: block;
  }
  .nav2 em {
    color: #000;
  }
  /*iframe {
    width: auto;
    height: auto;
  }*/
}
/*.map {
  margin-left: 10px;
}*/
