.nav2{
    display: none;
}
.nav1 a, .nav2 a{
    color: #ffff;
    text-decoration: none;
}
.nav1 a:hover, .nav2 a:hover{
    background-color: 	#ffc107;
    color: rgba(0, 0, 0, 0.911);
    text-decoration: none;
}
img{
    max-height: 50vh;
    object-fit: cover;
}
.intro1{
  width: 100;
  height: 100;
  background-image: url('images/index/index1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid rgb(255, 255, 255);
  border-radius: 1.02%;
}
.intro2{
    display: none;
}
.para{
    text-align: justify;
}
@media (max-width: 893px) { 
    .nav1{
        display: none;
    }
    .nav2{
        display: block;
    }
    .nav2 em{
        color: #000;
    }
}
@media (max-width: 767px) { 
    .intro1{
        display: none;
    }
    .intro2{
        display: block;
    }
}
@media (max-width: 580px) {
    img{
        max-height: 30vh;
        object-fit: cover;
    }
}
@media (max-width: 335px) {
    img{
        max-height: 20vh;
        object-fit: cover;
    }
}
@media (max-width: 230px) {
    img{
        max-height: 15vh;
        object-fit: cover;
    }
}
@media (max-width: 170px) {
    img{
        max-height: 12vh;
        object-fit: cover;
    }
}
/*infrastructure*/
.common .nav1{
    border-bottom: 5px solid #ffc107;
}
.sidepanel{
    background-color: #ffc107;
    color: #212529;
    height: auto;
}
.sidepanel h3{
padding: 5%;
}
nav a{
    display: block;
    padding: 5%;
    color: #212529;
    border-top: 2px solid rgba(0, 0, 0, 0.911);
}
nav a:first-child{border-top: none;}
nav a:last-child{border-bottom: 2px solid #212529;}
nav a:hover{
    background-color: #212529;
    color: #ffc107;
}
.content p{
    text-align: justify;
}
@media (max-width: 771px) { 
    .sidepanel{
        display: none;
    }
}
