body{
  font-family: 'Times New Roman', Times, serif;
}
span{
  color: rgb(255, 53, 2);
}
hr {
  background-color: #ffc107;
}
.sidepanel{
  color: #ffc107;
  background-color: #212529;
  height: auto;
}
.sidepanel h3{
padding: 5%;
}
nav a{
  display: block;
  padding: 5%;
  color: #ffff;
  border-top: 2px solid #ffc107;
}
nav a:first-child{border-top: none;}
nav a:last-child{border-bottom: 2px solid #ffc107;}
nav a:hover{
  color: #212529;
  background-color: #ffc107;
}
@media (max-width: 771px) { 
  .sidepanel{
      display: none;
  }
}
.topbar{
  border-bottom: 4px solid #ffc107;
}