span{
  color: rgb(255, 53, 2);
}
hr {
  background-color: #ffc107;
}
.sidepanel{
  background-color: #ffc107;
  color: #343a40;
  height: auto;
}
.sidepanel h3{
padding: 5%;
}
nav a{
  display: block;
  padding: 5%;
  color: #343a40;
  border-top: 2px solid #343a40;
  text-decoration: none;
}
nav a:first-child{border-top: none;}
nav a:last-child{border-bottom: 2px solid #343a40;}
nav a:hover{
  background-color: #343a40;
  color: #ffc107;
  text-decoration: none;
}
@media (max-width: 771px) { 
  .sidepanel{
      display: none;
  }
}
